@page
@model IndexModel
@{
    ViewData["Title"] = "Home Page";
}

<div style="text-align:center; margin-top:50px;">
    <h1>primera pagina web de alenoh goat</h1>
    <h3>un pequeno paso para el hombre, un gran paso para la humanidad.</h3>
</div>